<div class="jumbotron">
    <h1>测试网页浏览</h1>
</div>
<script id="atdanalytics" type="text/javascript" src="http://115.29.76.144:9002/Scripts/statistic.js" data="81d124d9-0d4b-47a3-99c6-d315b4c39d7f"></script>
<script>
    window.onbeforeunload = GetResidentTime;
</script>